.papad{
    background: #eee;
.card{
    width: 50vw;
    height: 50vh;
    .playButton{
        color: white;
        background-color: #686de0;
        padding: 3em 1em;
        border-radius: 3px solid #686de0;
    }
}
}