.papad{
    background: #eee;
    .navbar-expand-lg{
        background-color: #2e86de;
        color: white;
    }
.card{
    width: 20vw;
    margin: .4em;
    .icons{
        color:#bdc3c7;
        font-size:1.4em;
        cursor: pointer;
    }
}
}